In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Load the csv_hospitalreports1620_odp CSV file
df_1 = pd.read_csv('/Users/shiveshrajsahu/Desktop/MET CS 689/SahuShivesh_Project/csv_hospitalreports1620_odp.csv')

df_1.head()

,Year,County,Hospital,OSHPDID,system,Type of Report,Performance Measure,# of Adverse Events,# of Cases,Risk-adjusted Rate,Hospital Ratings,Longitude,Latitude
0,2016,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,AMI,3.0,17.0,16.1,As Expected,-122.253,37.76266
1,2016,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Acute Stroke,9.0,74.0,23.6,Worse,-122.253,37.76266
2,2016,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Acute Stroke Hemorrhagic,5.0,9.0,48.9,Worse,-122.253,37.76266
3,2016,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Acute Stroke Ischemic,4.0,65.0,15.2,As Expected,-122.253,37.76266
4,2016,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Acute Stroke Subarachnoid,NaN,NaN,NaN,NaN,-122.253,37.76266

In [2]:
# PostgreSQL connection info
username = 'postgres'
password = 'Shivesh5273'
host = 'localhost' 
port = '5432' 
dbname = 'FinalProject'

# Create SQLAlchemy engine
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{dbname}')

# Import data into PostgreSQL
df_1.to_sql('hospital_dimension', engine, if_exists='replace', index=False)

277

In [3]:
import pandas as pd
from sqlalchemy import create_engine

# Load the  CSV file
df_2 = pd.read_csv('/Users/shiveshrajsahu/Desktop/MET CS 689/SahuShivesh_Project/us_hospital_locations.csv')

df_2.head()

,X,Y,FID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-1.331889e+07,4.346975e+06,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.hanfordhealth.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,49,NOT AVAILABLE,N
1,-1.322651e+07,4.049626e+06,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.losrobleshospital.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,62,NOT AVAILABLE,N
2,-1.315620e+07,4.031978e+06,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.elalax.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,127,NOT AVAILABLE,N
3,-1.317190e+07,4.041752e+06,4,17090028,SOUTHERN CALIFORNIA HOSPITAL AT HOLLYWOOD,6245 DE LONGPRE AVENUE,HOLLYWOOD,CA,90028,NOT AVAILABLE,...,2014/02/10 00:00:00,http://sch-hollywood.com/,NOT AVAILABLE,HOLLYWOOD COMMUNITY HOSPITAL OF HOLLYWOOD,6,PROPRIETARY,-999,100,NOT AVAILABLE,N
4,-1.313208e+07,4.037270e+06,5,23691706,KINDRED HOSPITAL BALDWIN PARK,14148 FRANCISQUITO AVENUE,BALDWIN PARK,CA,91706,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.khbaldwinpark.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,95,NOT AVAILABLE,N

In [4]:
# PostgreSQL connection info
username = 'postgres'
password = 'Shivesh5273'
host = 'localhost' 
port = '5432' 
dbname = 'FinalProject'


# Create SQLAlchemy engine
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{dbname}')

# Import data into PostgreSQL
df_2.to_sql('hospital_locations', engine, if_exists='replace', index=False)

596